* {
  margin: 0;
  padding: 0;
  font-family: arial;
}

main {
  display: flex;
  background-color: white;
  height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 14vw;
}
header {
  height: 5vh;
  align-items: center;
  padding: 3vh 10vw;
}
header h2 {
  font-weight: bolder;
  font-size: 2em;
}
header p {
  font-size: x-small;
  padding-left: 2vw;
}
article {
  display: flex;
  background-color: rgba(20, 51, 134, 0.699);
  height: 47vh;
  align-items: center;
  color: white;
  padding: 0 8vw;
}
article img {
  height: 45vh;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10vh 0;
  padding-bottom: 10vh;
}

.right h1 {
  font-size: xx-large;
  font-weight: bolder;
  margin: 2vh 0;
}
.line {
  margin-right: 5vh;
}
.right p {
  font-size: small;
  margin: 2vh 0;
}

.book {
  background-color: white;
  color: rgba(20, 51, 134, 0.699);
  border: none;
  height: 4vh;
  width: 13vw;
  font-size: x-small;
  font-weight: bold;
  margin: 2vh 0;
}

aside {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 17vh;
  margin: 3vh 0;
}

aside h2 {
  font-size: large;
  margin: 1vh 0;
}
aside p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1vh;
}

.stock {
  background-color: white;
  color: rgba(20, 51, 134, 0.699);
  border: 2px solid rgba(20, 51, 134, 0.699);
  height: 4vh;
  width: 13vw;
  font-size: small;
  font-weight: bold;
  margin: 2vh 0;
  margin-left: 13vw;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: rgba(20, 51, 134, 0.699);
  align-items: center;
  height: 17vh;
  padding: 3vh 0;
  color: white;
}

footer img {
  height: 5vh;
  width: 4vw;
  border-radius: 50%;
  border: 2px solid white;
}

.foot {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.foot p {
  padding: 2vh 0;
}

.line2 {
  width: 6vw;
}
